"""
config file for site specific items, eg database, port
THIS SHOULD NOT BE STORED IN THE REPOSITORY

"""

port='8088'  # default is 8080
#database='???' # default is app folder name

domains=["127.0.0.1","localhost"] #use this for local testing
#domains=["mydomain.org","www.mydomain.org"] #use this for live site

urlhost="%s:%s" % (domains[0],port)  

additions_folder="/home/yourid/mp_additions"

