/****** override of bootstrap 4 ***********/

/* fix firefox white flashes */
body { background-color: #011326 !important;}

.bg-dark {
  background-color: #000 !important;
}
/*
a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #1d2124 !important;
}
*/


/* orange text */
.text-light {
    color: #F80 !important;
}

/* links */
a {
color: #28D;
}


/* forms green text on almost black*/
.form-control:focus, .form-control {
color: #2F2;
background-color: #111;
}


.nav-tabs .nav-link.active {
color: #000;
background-color: #FB0;
}


/* image and file listing actions */

.acts a img {
background-color: #888;
}


/****** override of grace.css *************/

/* rows */
.row {
text-align:left;
padding: 0 0;
}

.hilite {
 color:#FFF;
 background-color:#404;
}


/************************ per  versere.css **********************************/

blockquote.evoke{
 color:#DDD;
}
q {
 color:#DDD;
}

pre {
 color:#0DD;
}


/************************* per image app  **************************

#ratingfilter a.on{
color:#000
}

#ratingfilter a.off{
color:#AAE
}

#ratingfilter a.xon, #ratingfilter a.xoff:hover{
color:#999;
}

#ratingfilter a.xoff {
color:#EEE;
}
*/

/* ratingfilter styles - as per image dark.css */

#ratingfilter a.on{
color:#FF8
}

#ratingfilter a.off{
color:#777
}

#ratingfilter a.xon, #ratingfilter a.xoff:hover{
color:#A00;
}

#ratingfilter a.xoff {
color:#000;
}

/********************** from versere.css: ratings-related overrides of evoke.css  ********************/

#rate a {
color:#000;
}

#rate a.enabled, #rate a.disabled:hover {
color:#FF8;
}

#rate a.disabled, #rate a.enabled:hover {
color:#F33;
}


/* end of ratings styles*/


/*********************** additions for bootstrap conversion  ****************************/

#pageoptions {
margin-bottom:2rem; 
}

#listing-content {
margin-top: 1rem;
}

#contentheader {
text-align:left;
}

/*********************** from former music app.css and dark.css **********************/

#version, .version {
color:#D82800;
}


/* tables */
.stripe td, .stripe th{
background-color:#222;
}

.disabled, .disabled td, .disabled th, .disabled a {
color:#666;
}

.hilite td, .hilite th, .hilite a {
color:#FF6;
}

.head {
border:#444 solid 1px;
background-color:#222;
color:#555
 }
/* end of tables */



button{
cursor:pointer;
}

#footer{
padding-bottom:10rem; /* allows access to content beneath the transport  */
}

#contentheader{
margin:0 0 0 0;
}

#content{
padding:0;
}

#chartkind{
margin-left: 1rem;
}

#next_nav {
}

#pagetitle{
display:inline;
}

/****************** transport **********************/

#speakerlit img{
background-color: #000;
}

/* inline transport */

/*
.intransport {
float:right;
}
*/


.intransport a{
display:inline;
clear:none;
vertical-align: 25%;
}


.intransport img{
height:1.2rem;
}


#speakerlit img{
height:1.6em
}


.intransport form{
margin:0;
}

.intransport button{
padding:0;
border:none;
}

#childpages .intransport {
vertical-align:middle;
}

.intransport img {
 background-color: #000;
}
/*
.intransport img:hover {
 opacity:1;
}
*/
.intransport a, #speakerlit a {
color:#000;
}


/* main transport */

/*
#tracktimeform button{
 background-color: #222;
 color:#FFF;
}

#transport, #transport button {
 background-color: #222;
 color:#AAA;
}
*/

#transport {
 position:fixed;
 bottom:0;
 left:0;
 margin:0 0 0 0;
 padding:0.2rem;
 z-index:100;
 border:solid 0;
 background-color:#222;
 opacity:0.7;
}


#transport img{
 vertical-align: bottom;
 height:2rem;
 margin:0 0.2rem;
}


#transport input{
 vertical-align: bottom;
 height:2rem;
 margin:0 0.2rem;
}


/* the following needs pixel sizing to match the images (32x32) */
#tracktime {
height:32px;
line-height:32px;
font-size:32px;
padding:0 0 4px 0;
}




/*
#transport form, #transport button, #transport img, #speaker button, #speakerlit button{
  border:solid 0;
  padding:0;
  margin:0;
}

#transport, #transport button, #speaker button{
 vertical-align: bottom;
}

#speakerlit button{
 vertical-align: sub;
}

#transport-panel img, #playorder-button img{ 
height:2rem;
}
*/



/********************************* ratings / scores ******************************/

#rating{
float:none;
/*display:inline-block;*/
/*margin-right:2rem;*/
}
#score{
vertical-align:10%;
}

#filtersymbols{
padding: 0 0.5rem;
}
#filtersymbols a{
font-size:1.6rem;
}

#viewsymbols img{
height:1.8rem;
}


#filtersymbols {
vertical-align:super;
}

/************************* general *********************/

#info {
clear:both;
}

#mplogo {
vertical-align:super;
}

#navigation {
float:right;
}



.title {
font-size: 2.4rem;
}

.floatright {
float:right;
}

/*generic messages*/

#message, #warning, #error {
padding: 0.2rem;
margin: 0;
 }

/* browser compatibility fixes */

/*button::-moz-focus-inner { margin: -1px; padding: 0; border-width: 1px; }*/

/* #extras {width:70%;}*/