@import "grace.css";

button{
cursor:pointer;
}

#content{
margin-bottom:3em; /* allows access to content beneath the transport  */
}

#contentheader{
margin:0 0 0 0;
}

#chartkind{
margin-left: 1em;
}

#next_nav {
}

#next_item{
float:right;
}

#next_item, #prev_item {
padding: 0 0.5em 0 0;
}

#pagetitle{
display:inline;
}

#pagetitleline{
padding:0.5em 0 0 0;
}

.intransport{
display:inline-block;
}
.intransport img{
height:1.2em;
}

.intransport form{
margin:0;
}

.intransport button{
padding:0;
border:none;
}

#childpages .intransport {
vertical-align:middle;
}


#rate-score{
float:right;
display:inline-block;
margin-right:2em;
}
#score{
vertical-align:10%;
}


#transport {
 position:fixed;
 bottom:0;
 left:0;
 margin:0 0 0 0;
 padding:0.2em;
 z-index:100;
}

#transport form, #transport button, #transport img{
  border:solid 0;
  padding:0;
  margin:0;
}

#transport, #transport button, #speaker {
 vertical-align: bottom;
}

#transport-panel img, #playorder-button img{ 
height:2em;
}
#tracktime {
vertical-align:15%;
width:3em;
font-size:170%;
margin:0;
} 

#filtersymbols{
padding: 0 0.5em;
}
#filtersymbols a{
font-size:1.6em;
}

#viewsymbols img{
height:1.8em;
}

#mplogo {
vertical-align:super;
}

#navigation {
float:right;
}

#filtersymbols {
vertical-align:super;
}


.title {
font-size: 200%;
}

/*generic messages*/

#message, #warning, #error {
padding: 0.2em;
margin: 0;
 }

/* browser compatibility fixes */

/*button::-moz-focus-inner { margin: -1px; padding: 0; border-width: 1px; }*/

/* #extras {width:70%;}*/