/* based on work of Alex Robinson  OTL http://positioniseverything.net/articles/onetruelayout/ 
The Jello Mold wrapper concept is courtesy of Mike Purvis */

html {
margin: 0;
padding: 0;
border:0;
height: 100%;
}

body {
margin: 0;
padding: 0;
border:0;
height: 100%;
color:#333;
font-family: Verdana, Arial, Helvetica, sans-serif;
background-color: #fff;
 }

#pagesize{
position: relative;
height: 100%;
width: 100%;
margin:0 auto;
}

/* * GENERIC * */

div {
margin:0;
padding:0;
border-style:none;
border:none;
background-color:transparent;
 }

h1, h2, h3, h4, h5, h6 {
margin: 0;
border: 0;
text-align: left; }

h1 {
font-size:200%;
color: #777;
 }

h2 {
font-size: 150%;
color: #777;
 }

h3 {
color:#999;
font-size:135%;
 }

h4 {
font-size: 120%;
color:#AAA;
 }

h5 {
font-size:110% ;
color: #BBB;
 }

h6 {
font-size: 100%;
color: #CCC;
 }

/*  text styling */

p {
margin:0.4em 0;
padding:0;
 }

.huge, .big, .norm, .wee, .small, .tiny {
text-align:left;
font-weight:normal;
 }

.huge {
font-size:150%;
 }

.big {
font-size:120%;
 }

.norm {
font-size:100%;
 }

.wee,.small {
font-size:80%;
 }

.tiny {
font-size:60%;
 }

.hilite {
color:#000;
background-color:transparent;
}


.light {
color:#777;
 }

.bright {
color:#F30;
 }

.spaced {
margin:2em 0;
padding:1em;
 }

/* generated text styles */

big {
font-size:160%;
 }

small {
font-size:80%;
 }

strong {
font-style:bold;
 }

cite {
display:block;
color:#666;
 }

tt,pre {
font-family: courier, monospace;
background: #FEE;
white-space:pre;
 }

pre {
margin:0.2em;
border: 0.1em solid #CCC;
 }

blockquote {
color:#444;
margin: 0 0 0 0;
padding-left: 0.5em;
border-left: 0.3em solid #EEE;
}

q {
color: #444;
font-style:oblique; 
 }
 
center{
padding: none;
margin: none;
} 

/* anchors  */

a {
color:#09F;
/*color:#F70;*/
text-decoration: none;
padding:0;
margin:0;
border-style:none;
border: none;
 }

/*a:visited {
color:#D60;
}*/

a:hover{
color: #09F;
text-decoration:underline;
}


/* generated text broken links */

.broken {
color:#800;
 }

/* lists */

ul, li {
margin: 0;
padding: 0;
border:0;
text-align: center;
list-style:none;
list-style-type: none;
list-style-image: none;
list-style-position: outside;
 }

/* tables */

table {
margin:0.4em 0.2em;
vertical-align:top;
border-collapse: collapse;
text-align: left;
 }
#content table{
width: auto;
float: none;
}

th,td {
padding:0.2em;
border:0.1em solid #AAA;
 }

.subtle th, .subtle td {
border: none;
padding: 0.2em 0.8em;
 }

.stripe td, .stripe th{
background-color:#f4f4f4;
}

.head {
border:#999 solid 0.1em;
background-color:#ccc;
color:#fff
 }

#image_list,#file_list{
width: 99%;
float:left;

}
/* forms */
form{
display: inline;
margin: 0.2em;
}

textarea {
padding: 0 0.4em;
background: url(/site/images/system/ruled_background.jpg) repeat;
font-size: 1.4em;
font-family:inherit;
border: 0.1em solid #999;
overflow:hidden; 
}

form textarea {
width: 90%;
 }

fieldset {
margin: 0.5em;
padding: 0.5em;
background: url(/site/images/system/shaded_bg.jpg) repeat-x;
border:solid 0.1em #999;
 }

.summary form {
padding-left:0.4em;
 }

input {
font-size: 1.4em;
padding: 0 0.4em;
border: 0.1em solid #444;
background: url(/site/images/system/ruled_background.jpg) repeat #ddd;
 }

select {
float:left;
margin: 0 0.5em;
cursor:pointer;
 }

dd {
padding: 0;
margin: 0;
 }


dt {
color:#666;
margin-top:1em;
 }


label {
vertical-align:top;
}

/****************** bigform ****************/


.bigform {
font-size: 120%;
margin: 2em;
display: block;
 }

.bigform fieldset {
margin-left: 0;
margin-right: auto;
margin-top: 1.5em;
border: 0.2em solid #aaa;
padding: 1em 1em;
overflow: visible;
 }


.bigform legend {
padding: 0 0.5em;
color: #1D5288;
font-size:1.6em;
 }

.bigform dl {
/*width: 95%;*/
margin:0 auto;
 }

.bigform dt {
margin-top: 0.8em;
font: bold;
/*display:inline;*/
float:left;
width:30%;
text-align:left;
 }

.bigform dd {
margin-top: 0.8em;
font: bold;
/*display:inline;*/
 }


.bigform label {
white-space: nowrap;
color: #253341;
font: bold;
margin:0.5em 0 0 2em;
line-height: normal;
 }

.bigform dd input, .bigform select, .bigform textarea, .bigform button {
font-size:100%;
border:0.2em solid #999;
margin-top: 0.5em;
padding:0.1em;
 }

.bigform dd input {
height:2em;
background-color: #fff;

 }

.bigform input.checkbox {
background: none;
border:0;
color:#eff ;
background-image:none;
height:1em;
width:1em;
 }
 
.bigform select {
float:none;
} 

.bigform p{
margin: 2em;}



/********************* other forms *****************************/

.norm label {
font-size:130%;
width:auto;
 }

#login_form #reminder a{
font-size: 100%
font-style: normal;
text-decoration: underline;
font-weight: normal;
}


/* logo */
#upperbody{
background: transparent;
}
#header{
background: transparent;
display:block;
margin: 0;
}

#logo {
margin-left: 0;
float:left;
display: block;
border:none;
padding: 0;
z-index: 20;
 }

#logo a {
background: transparent;
text-decoration: none;
margin: 0;
padding: 0;
border:none;
 }

#logo img , #tagline img {
margin:0;
vertical-align: middle;
border:none;
 }

#tagline {
padding: 0;
background-color: #fff;
text-align: left;
float:right;
display: inline;
 }


/* main */

#main {
min-height:100%;
border: 0 none #AAA;
border-left: 0.1em solid #999;
border: none;
margin: 0 20em 0 0; 
padding:1em;
}


/* for ie6 */

#main  {
overflow:auto;
 }

/*for non-ie6 */

html>body #main {
overflow:visible;
 } 
/*generic messages*/

#message, #warning, #error {
font-size: 100%;
margin:0.5em 2em 0 1em;
text-align:left;
padding:0.5em 1em 0.5em 1em;
border: solid 0.1em #666;
 }

#message {
color:#000;
background-color: #ddffa1;
 }

#warning {
color:#000;
background-color: #ffe280;
font-weight:bold;
 }

#error {
color: #fffd1e;
background-color: #ff6600;
font-weight:bold;
 }

/* * contents of main  * */

/* login headers */

h1.login {
margin:4em 0 0 2em;
padding-right: 2em;
display: block;
 }

/* header */

#pagecode {
margin-top: 1.5em;
 }

#contentheader {
position: relative;
padding: 0;
border: none;
margin: 0 0 2em 0;
width: auto;
 }

#pagetitle {
margin: 0em;
padding:0em;
color: #666;
display:inline-block;
 }

#pageoptions ul {
position: relative;
left:0;
margin: 0.4em 0.3em ;
padding: 0 0;
border-bottom: solid 0.1em #666;
text-align: center;
font-size: 1em !important;

 }

#pageoptions li {
margin-left: 0.4em;
padding: 0 0 0 0;
display: inline;
background: url(/site/images/tabs/tab_br.jpg) top right no-repeat transparent;
 }

#pageoptions li a {
color: #222;
padding:0 0 0 0.4em;
margin: 0 0.3em 0 0;
background: url(/site/images/tabs/tab_bl.jpg) top left no-repeat transparent;
 }

#pageoptions .selected a , #pageoptions .selected {
background-color: transparent;
border-bottom:0.1em solid #fffeea;

 }
#pageoptions li:hover {
background: url(/site/images/tabs/tab_brh.jpg) top right no-repeat ;
 }

#pageoptions li a:hover {
color: #666;
background: url(/site/images/tabs/tab_blh.jpg) top left no-repeat ;
 }

#pageoptions .selected a:hover {
color: #444;
background: url(/site/images/tabs/tab_bl.jpg) top left no-repeat;
z-index:2000;
 }
#pageoptions .selected:hover{
background: url(/site/images/tabs/tab_br.jpg) top right no-repeat;
}
/* ratings */

#rating {
float:right;
background-color:transparent;
border:solid 0.1em #afaf6f;
margin: 1em 0.5em 0.5em 1em;
z-index: 300;
 }

/* content */

#content {
width: 100%;
margin: 0;
padding:0.2em 0;
 }


/*there is a <kind>-content class for each page kind*/

#group_content {
 }

.help_content {
color:#000;
 }

/* contents table */

#contents {
width:20em;
float:right;
margin:0 1em 1em 1em;
 }

#contents a {
color: #666
 }

#contents a:hover {
color: #FC0;
text-decoration: none;
 }

/*#contents a:visited {
color: #666
 }*/

#content #contents ul {
padding: 0;
margin: 0.5em 0.3em;
text-align: center;
line-height: normal;
 }

#content #contents ul li {
margin: 0;
padding:0 0.5em 0.3em 0.5em;
list-style-type: circle;
border-bottom: 0.1em #888 solid;
 }



/* summaries */

.replies ,.summary {
background:transparent ;
float:left;
width:99%;
margin:0.3em 0;
padding:1.5em 0;
font-size: 90%; 
 }

.summary span {
padding-top: 0.2em;
}

.summary a span {
}

.editacts .topright {
background-color: red;
width:2em;
right:2em;
}

.replies .big , .summary .big {
position: relative;
}

.sub .big ,.summary .hide {
background-image: none;
}

.replies .reply , .summary .reply {
padding: 0 0.5em 0 0;
 }

/* comment */

.comment {
padding:0.3em;
 }

/* sections */

.section {
/* font-size: 90%; */
text-align: center;
margin-bottom: 0.2em;
}

.summarytitle {
max-width: 90em;
margin: 1em 0; 
}

.text, .summarytext {
max-width: 80em;
text-align: justify;
margin: 1em 0;
}

#content ul,#content ol{
padding-left: 1.5em;
}
#content ul li {
text-align: left;
list-style-type: disc;
list-style-image: url('/site/theme/images/dot.gif');
list-style-position: inside;
 }

#content ol li {
text-align: left;
list-style: decimal;
list-style-image: none;
list-style-position: inside;
 }

/* links */

#more {
margin:1em 0;
}

.expand {
float:right;
 }

/* images */
img {
margin: 0;
padding: 0;
border-style:none;
border: none;
 }

.imagesolo {
margin:2em 0;
max-width:100%;
 }

.image_left,.image_right {
text-align:center;
 }
 
.image_right {
margin: 0.5em 1.5em 1.5em 1.5em;
float:right;
 }
 
.image_left {
margin: 0.5em 1.5em 1.5em 1.5em;
float: left;
 }

.image_left img,.image_right img {
display:inline;
 }

.image_center {
margin: 1.1em 1.5em 1.5em 1.5em;
vertical-align: top;
display:table-cell; 
display:inline-table;
display:inline-block;
 }

.image_left span , .image_right span , .image_center span {
display:block;
 }

.image_full {
 }

.image_full img {
 }

.image_thumb {
 }

.image_thumb span {
text-align: center;
font-size: 90%;
font-weight: lighter;
color: #777;
font-style: italic;
 }

img.image_edit {
height:6em;
margin:0 1em 0.5em 0;
border:0;
float:left;
 }
 
/*files for download*/
.downloads,.download{
text-align: left;
font-weight: bold;
} 
.downloads{
margin-top: 1em;
}

/* page footnote */

.footnote {
clear:both; 
text-align:left;
margin-top:1em;
font-size: 60%;
}

/* text edit/create */

.headline {
padding:1em 0 0.5em 0;
}

#texttitle {
width:70%;
}

#textadd {
float:left;
width:50%;
margin-bottom: 0.5em;
margin-left: 1em;
 }
#textaddkind{
padding-left: 1em;
}


.label {
padding-top: 0.4em;
color: #777;
font-size: 90%;
vertical-align:top;
 }

.textlabel {
margin:0.5em 0 0 0;
 }

/*text edit */

#text {
padding: 0.8em;
font-size: 90%;
text-align:left;
/*text-align: justify;*/
}

.editacts {
text-align: left;
min-height: 1em;
display: block;
padding: 0 0.4em 0.4em 0.4em;
margin: 0 0 0 0;
}

.editacts .buttoncool,.editacts .buttonhot {
float:right;
 }
.edithead{
text-align: left;
}
.edithead label {
margin-left:1em;
}

.addpageform {
display: inline;
}

/* page footer */
#contentfooter {
/*margin: 1.4em 0 0 0;*/
margin-top:20px;
}

#pageinfo {
color: #777;
background-color: #EEE;
font-style:normal;
 }
#pageinfo a{
padding-left: 0.3em;
} 
#pageinfo .parentlink a{
font-style:normal;
font-size:larger;
} 

/* user */

#user {
margin-left:0.5em;
display: block;
 }

#user .username a {
/* background: url('/site/images/system/user.gif') center left no-repeat;*/
margin-left: 0.1em;
padding-left: 0.1em;
font-size: 90%;
background-color:transparent;
 }

#user .login a {
margin-left:0.4em; 
font-size:70%;
 }


/* site nav */

#navpanel {
margin: 0.2em 0.2em 0 0.2em
padding-top: 0.4em;
 }

#navpanel li {
text-align: left;
padding: 0 0.1em 0 0;

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:100%;
 }
#navpanel li a{
display: block;
padding:0.1em 0 0.3em 0.7em;
border-top:0.1em solid #444;
}
#navpanel .cat{
/*font-size:90%;*/
padding-left: 0;
} 
#navpanel .cat a{
display: block;
padding-left: 1.3em;
border-top:0.1em dotted #999;
}


/* search form */

#searchform input {
width:10em;
height:1.2em;
padding:0.1em;
margin:0;
font-size:1em;
color: #444;
border: 0.1em solid #aaa;
vertical-align:middle;
}

#gobutton {
width:auto;
height:auto;
padding:0;
border: 0.1em solid #aaa;
}

#gobutton img{
vertical-align:middle;
height: 1.6em;
width: 1.6em;
}

/* page actions */

#actions {
text-align: center;
 }

/* footer */
 
#footer {
margin: 0; 
min-height: 40px;
}

/* iphone etc */

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
 #main { margin: 0 0.1em}
 #controls { float: none; position:relative; right:auto; top:auto }
 #credits {text-align: left}
 
} 
