body {
color:#AAA;
background-color:#000;
/*font-family: Arial, Helvetica, sans-serif;*/
font-weight:normal;
}

h1, h2, h3, h4, h5, h6 { 
font-weight:normal;
}

h1, .title {
 /* color: #09F;*/
 color:#EEE;
 }

.hilite {
 color:#FF6;
 }


h2 {
color: #CCC
}

h3 {
color: #AAA;
 }

h4 {
color:#888;
 }

h5 {
color: #666;
 }

h6 {
color: #444;
 }


a {
color:#0BF;
}

blockquote, q {
color: #AAA;
font-style:oblique;
}

tt, pre {
background-color:#000;
color:#4B4;	
}

#version {
color:#BB0;
}


fieldset {
background:#222 ;
}

.bigform label {
color: #88b;
}

/* ------------ input ------------- */
input, select, textarea {
 background-color:#222;
 background-image:none;
 color:#AAA;
 border:solid 1px #666;
}



/* ------------ buttons ---------- */

.buttonhot button,
.buttonhot input{
color:#FF8;
}
.buttoncool button,
.buttoncool input{
height:22px;
color:#888;
}

.buttonhot button,
.buttonhot input, 
.buttoncool input,
.buttoncool button {
background-color:#444;
border-color:#666;
}

.buttoncool input:active,
.buttonhot input:active,
.buttoncool button:active,
.buttonhot button:active {
color:#666;
background-color:#222;
border-color: #888;
}
 
.buttonhot input:hover,
.buttoncool input:hover,
.buttonhot button:hover,
.buttoncool button:hover{
color: #CCC;
 }


/* ids */

#gobutton {
background-color: #555;
}

#transport, #transport button, #speaker {
 background-color: #222;
 color:#AAA;
}
#mplogo {
 color:#844;
}

.intransport button {
 background-color: #000;
}

#tracktimeform button{
 background-color: #222;
 color:#FFF;
}

#rate a, #rate a:hover, #score a, #score a:hover {
text-decoration: none;
}

#rate a.enabled {
color:#FF6;
}

#score a {
color:#FFF
}


#rate a:hover{
color:#F44;
}

#rate a.plus:hover{
color:#4F4;
}

#filtersymbols a.enabled {
color:#09F; 
}




/* ------------------------------- */



.stripe td, .stripe th{
background-color:#222;
}

.disabled, .disabled td, .disabled th, .disabled a {
color:#666;
}


.hilite td, .hilite th, .hilite a {
color:#FF6;
}

.head {
border:#444 solid 1px;
background-color:#222;
color:#555
 }

/*.enabled {
 color:#F00;
}*/




/*
#pagesize {
min-width: 0px;
}
*/

#pagewrapper {
/*background:#000;*/
}


#logo {
margin:20px 0 5px 5px
}

#searchform input {
 background-color:#000;
 background-image:none;
 color:#888;
 border-color:#666;
}

#credits {
 text-align:left;
}

/*#footer{
border-top: 1px solid #666;
}*/


#credits a{
color:#555;
}
/*
#navpanel a {
color:#999;
}
#navpanel a:visited {
color:#787878;;
}
#navpanel a:hover {
color:#FC0;
}
*/
#navpanel li {
/*font-family: Arial, Helvetica, sans-serif;*/
font-weight:normal;
}

#pageoptions li a {
color:#AAA;
}
#pageoptions li a:hover {
color:#DDD;
text-decoration:none;
}
#pageoptions .selected a, #pageoptions .selected {
border-bottom: 2px solid #000;
}


#contents a {
color: #09F
 }

#contents a:hover {
color: #FC0;
text-decoration: none;
 }

/*#contents a:visited {
color: #07B
 }*/


.help_content {
color: #888;
}



.replies, .summary {
border-bottom:1px solid #444;
}

#pageinfo {
color: #888;
background-color: #333;
}


#page_edit .cell {
background-color:#222;
border-top:8px double #444;
}

.acts img, .editacts img {
height:16px;
}


.popup{
color:#000;
}


/* spurious theme additions - the following is from default.py but with different theme path to force a refresh */

#pageoptions li {background: url(/site/theme_dark/tabs/tab_br.jpg) top right no-repeat transparent;}
#pageoptions li a {background: url(/site/theme_dark/tabs/tab_bl.jpg) top left no-repeat transparent;}
#pageoptions li:hover {background: url(/site/theme_dark/tabs/tab_brh.jpg) top right no-repeat ;}
#pageoptions li a:hover {background: url(/site/theme_dark/tabs/tab_blh.jpg) top left no-repeat ;}
#pageoptions .selected a:hover {background: url(/site/theme_dark/tabs/tab_bl.jpg) top left no-repeat;}
#pageoptions .selected:hover{background: url(/site/theme_dark/tabs/tab_br.jpg) top right no-repeat;}

/* end of spurious theme additions */



@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
 #logo{float:none}
 #controls {top:auto}
} 



